* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.blogs-list {
    border: 4px solid #8080ff;
    padding: 16px;
    margin-top:16px;
}

.bloglist-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.bloglist-buttons {
    display: flex;
    flex-direction: row;

    height: 20px;
    padding: 16px;

    border: 4px solid #8080ff;
}