/* GENERAL CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Geneva, Tahoma, sans-serif, sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.row {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

img {
    width: 100%;
}

nav, footer {
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px #0a0a0a;
}

.nav-row {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
}

.nav-logo {
    padding: 24px;
}

.nav-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links-wrapper > a {
    padding: 24px;
}

.nav-links-wrapper > a:hover {
    background-color: #444;
}

footer {
    display: flex;
    flex-direction: column;

    padding: 24px;
}

/* HOME PAGE */
#home-body {
    background-color: #111;
    color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.filler {
    flex-grow: 100;
}